### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Gradle ###
.gradle/
.gradle-cache
.gradle-home/
build/
!gradle/wrapper/gradle-wrapper.jar

### OS ###
.DS_Store
Thumbs.db

### VS Code ###
.vscode/

### Environment Variables ###
.env
*.env

